/* Generic */
*{
    margin: 0;
}
div{
    margin-bottom: 20px;
}

/* header */
.container{
    max-width: 1080px;
    margin: 0 auto;
}
#nome_pagina{
    width: auto;
    height: 100px;
    background-color: aqua;
    background-image: url('../img/pattern.png');
    background-size: contain;
    margin-bottom: 20px;
}
.logo{
   width: 200px;
   height: 50px;
   padding: 25px 0 25px;
}
address{
    font-style: normal;
    color: #666;
}
a{
    text-decoration: none;
}
.data{
    font-size: 0.8rem;
}

/* main */
/* Lista */
ul{
    padding-left: 17px;
}

/* Layout tabella */
table{
    border-collapse: collapse;
}
thead{
    background-color: rgb(0, 132, 255);
    color: white;
}
th{
    text-align: left;
    width: 360px;
}

/* backgroud */
.back_yellow{
    background-color: yellow;
}
.back_aqua{
   background-color: rgb(0, 217, 255);
}
.back_white{
    background-color: white;
}

/* footer */

h2{
    color: #666;
}
.other_topics{
    height: 200px;
    width: 300px;
    background-size: contain;
    background-image: url(../img/monitor.jpg);
    padding: 20px;
   
}
.other_link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.other_topics2{
    height: 200px;
    width: 300px;
    background-size: contain;
    background-image: url(../img/graph.jpg);
    padding: 20px;
}